@import url(font-awesome-4.7.0/css/font-awesome.min.css);

body{
    background-color:rgb(42, 42, 102);
}

@media screen and (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .header-ttl{
        font-size: 3.5rem;
    }
    .nav-header{
        display: none;
    }
    .nav-angle{
        display: none;
    }
}

.header-ttl{
    text-align: center;
    color: white;
    padding: 4rem 0;
}


/* Navbar */
.nav-header{
    /* display: flex; */
    position: relative;
    display: none;
    list-style-type: none;
    border: 2px solid white;
}

.nav-header.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 1.5;
}

.nav-link:hover{
    border-bottom: 2px solid white;
}


.nav-angle{
    position: absolute;
    font-size: 2rem;
    color:rgb(42, 42, 102) ;
    top: 0;
    left: 0;
    cursor: pointer;
}


/* Reste */
.left-cv{
    background-color: #c1c0c0;
}

/* PRESENTATION */ 
.presentation{
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
}
.presentation-ttl{
    color: rgb(42, 42, 102);
    padding-top: 2rem;
}

.presentation-p{
    line-height: 0.4;
}
.presentation-p span{
    text-decoration: underline;
    text-decoration-color: rgb(42, 42, 102);
}

@media screen and (min-width: 768px) {
    .presentation{
        text-align: left;
        padding-bottom: 0.1rem;
    }
    .presentation-ttl{
        padding-top: .5rem;
    }
    .presentation-p{
        line-height: 1;
    }
    .presentation p{
        font-size: 1.1rem;
    }
}
/* SKILLS */ 
.skills{
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.skills-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
    padding-top: .5rem;
}

.skills-biosciences-list, .skills-informatic-list{
    padding-bottom: .1rem;
}
.skills-ul {
    line-height: 1.3;
}

.skills-biosciences-list .skills-p{
    line-height: 0;
}

.skills-informatic-list .skills-p{
    line-height: 1;
}

.skills-informatic-list{
    line-height: 0.4;
}

@media screen and (min-width: 768px) {
    .skills{
        text-align: left;
        padding-bottom: 0.1rem;
    }
    .skills-ttl{
        text-align: left;
        padding-bottom: .6rem;
    }
    .skills-biosciences-list, .skills-informatic-list, .skills-p{
        font-size: 1.1rem;
    }
    .skills-ul {
        line-height: 2;
    }
    .skills-informatic-list .skills-p{
        line-height: 1.5;
    }
    .skills-informatic-list{
        line-height: 1.2;
    }
}

/* Langues */
.languages{
    text-align: center;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.languages-content p span{
    text-decoration: underline;
    text-decoration-color: rgb(42, 42, 102);
}
.languages-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
}
.languages p{
    line-height: 0.3;
}

@media screen and (min-width: 768px){
    .languages{
        text-align: left;
        padding-right: 0.2rem;
        padding-bottom: 1rem;
    }
    .languages-ttl{
        text-align: left;
    }
    .languages p{
        line-height: 1;
        font-size: 1.1rem
    }
}


/* FORMATIONS */ 
.right-cv{
    background-color: #FFFFF7;
}

.formations{
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.formations-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
    padding-top: 2rem;
}

.formations-afpa{
    text-align: center;
    line-height: 0;
}

.formations-fac, .formations-afpa{
    padding-bottom: 0.1rem;
}

.formations-fac-sttl, .formations-lycee-sttl{
    line-height: 0;
    text-align: center;
}

@media screen and (min-width: 768px){
    .formations-ttl{
        text-align: left;
        padding-top: 0.5rem;
    }
    .formations-afpa, .formations-fac-sttl, .formations-lycee-sttl{
        text-align: left;
        line-height: .2;
    }
    .formations li{
        font-size: 1.1rem;
        line-height: 1.8;
    }
}
/* Experience */ 
.experience{
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.experience-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
}

.experience-sttl{
    line-height: 0.1;
}

@media screen and (min-width: 768px) {
    .experience-ttl{
        text-align: left;
    }
    .experience li{
        line-height: 1.8;
        font-size: 1.1rem;
    }
}



/* LOISIRS */

.loisirs{
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.loisirs-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
    padding-top: .5rem;
}

.loisirs-p{
    line-height: 0;
    text-decoration: none;
    color: black;
}

.modal-link-img, .modal-link-p, .modal-link-img2, .modal-link-close{
    display: none;
}

@media screen and (min-width: 768px){
    .loisirs-ttl{
        text-align: left;
    }
    .loisirs li{
        line-height: 1.8;
    }
    .loisirs-p, .loisirs li {
        font-size: 1.1rem;
    }
    .loisirs a:visited{
        color: #552084;
    }
    .loisirs a:hover{
        border-bottom: 2px solid;
        background-color: #fdba21;
    }

    .loisirs{
        position: relative;
    }
    .modal-link{
        position: absolute;
        z-index: 10;
        width: 80%;
        height: 75%;
    }
    .modal-link-content{ 
        position: relative;
        width: 100%;
        height: 100%;
        padding: 1rem 1.5rem;
        background-color: #552084f1;
     }
     .modal-link-close{
        position: absolute;
        right: 0;
        top: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: .5rem;
        color: #fdba21;
     }

     .modal-link-img{
        position: absolute;
        z-index: 100;
        width: 75px;
        bottom: 0;
        left: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: .5rem;
    }

     .modal-link-img2{
        position: absolute;
        z-index: 100;
        width: 190px;
        bottom: 0;
        right: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: .5rem;
    }

    .modal-link-p{
        z-index: 100;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: white;
        justify-content: center;
        align-items: center;
        border: 2mm ridge rgba(253, 186, 33);
    }
     .display{
        display: block;
     }

     .displayF{
        display:flex;
     }
} 

/* FOOTER */ 


