body{
    background-color:rgb(42, 42, 102);
}

.header-ttl{
    color: white;
    text-align: center;
    /* background-color: rgb(10, 10, 116); */
    /* border: 2px solid red; */
    padding: 4rem 0;
}

.left-cv{
    background-color: #c1c0c0;
}

/* PRESENTATION */ 
.presentation{
    /* border: 2px solid red; */
    /* background-color: #c1c0c0; */
    padding-bottom: 1rem;
}

.presentation-content{

}

.presentation-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}

.presentation-paragraph{
    /* color: black; */
}

/* SKILLS */ 
.skills{
    /* background-color: #c1c0c0; */
    padding-bottom: 1rem;
}
.skills-content{

}

.skills-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}

.skills-biosciences-list{

}
.skills-paragraph{
    /* color: black; */
}
.skills-informatic-list{

}

/* Langues */
.languages{
    padding-bottom: 1rem;
}
.languages-content{

}
.languages-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}
.languages-list{

}

/* FORMATIONS */ 
.right-cv{
    background-color: #FFFFF7;
}

.formations{
    
}
.formations-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}
.formations-afpa{
    line-height: 0.1;
    padding: .5rem 0;
}

.formations-fac{
    line-height: 0.1;
    padding: .5rem 0;
}

.formations-fac span{
    font-size: 0.8rem;
}

.formations-fac-sttl{

}
.formations-paragraph{

}
.formations-lycee{
    line-height: 0.1;
    padding: .5rem 0;
}