@import url(font-awesome-4.7.0/css/font-awesome.min.css);

body{
    background-color:rgb(42, 42, 102);
}

.header-ttl{
    color: white;
    text-align: center;
    /* background-color: rgb(10, 10, 116); */
    /* border: 2px solid red; */
    padding: 4rem 0;
}

.left-cv{
    background-color: #c1c0c0;
}

/* PRESENTATION */ 
.presentation{
    /* border: 2px solid red; */
    /* background-color: #c1c0c0; */
    padding-bottom: 1rem;
}

.presentation-content{

}

.presentation-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}

.presentation-paragraph{
    /* color: black; */
    line-height: 0.6;
}

/* SKILLS */ 
.skills{
    /* background-color: #c1c0c0; */
    padding-bottom: 1rem;
}
.skills-content{

}

.skills-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}

.skills-biosciences-list p{
    line-height: 0;
}

.skills-biosciences-list li {
    line-height: 1;
}
.skills-paragraph{
    
}
.skills-informatic-list{

}

.skills-informatic-list{
    line-height: 0.4;
}

/* Langues */
.languages{
    padding-bottom: 1rem;
}
.languages-content{

}
.languages-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}
.languages p{
    line-height: 0.3;
}

/* FORMATIONS */ 
.right-cv{
    background-color: #FFFFF7;
}

.formations{
    padding-bottom: 1rem;
}
.formations-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
}
.formations-afpa{
    line-height: 0.1;
    padding: .5rem 0;
}

.formations-fac{
    padding-bottom: 0.2rem
}

.formations-fac span{
    font-size: 0.8rem;
}

.formations-fac-sttl, .formations-lycee-sttl{
    line-height: 0.1;
    /* padding: .5rem 0; */
}
.formations-paragraph{

}
.formations-lycee{
   
    
}

/* Experience */ 
.experience{

}

.experience-content{
}

.experience-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
    padding-bottom: 1rem;
}

.experience-list{
    
}

.experience-sttl{
    line-height: 0.1;
}

.experience-paragraph{

}

/* LOISIRS */

.loisirs{
    padding: .5rem 0;
}
.loisirs-content{

}
.loisirs-ttl{
    color: rgb(42, 42, 102);
    text-align: center;
    padding-bottom: 1rem;
}
.loisirs-paragraph{
    line-height: 0;
}
.loisirs-list{

}

/* FOOTER */ 
