@import url(font-awesome-4.7.0/css/font-awesome.min.css);

body{
    background-color:rgb(42, 42, 102);
}

@media screen and (min-width: 768px) {
    .main{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header-ttl{
        font-size: 3.5rem;
    }
}

.header-ttl{
    text-align: center;
    color: white;
    padding: 4rem 0;
}

.left-cv{
    background-color: #c1c0c0;
}

/* PRESENTATION */ 
.presentation{
    text-align: center;
    padding-bottom: .5rem;
}
.presentation-ttl{
    color: rgb(42, 42, 102);
    padding-top: 2rem;
}

.presentation-p{
    line-height: 0.4;
}
.presentation-p span{
    text-decoration: underline;
    text-decoration-color: rgb(42, 42, 102);
}

@media screen and (min-width: 768px) {
    .presentation{
        text-align: left;
        padding-left: 1rem;
        padding-bottom: 0.1rem;
    }
    .presentation-ttl{
        padding-top: .5rem;
    }
    .presentation-p{
        line-height: 1;
    }
}
/* SKILLS */ 
.skills{
    padding-bottom: .5rem;
}

.skills-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
    padding-top: .5rem;
}

.skills-biosciences-list, .skills-informatic-list{
    padding-bottom: .1rem;
}
.skills-ul {
    line-height: 1.3;
}

.skills-biosciences-list .skills-p{
    line-height: 0;
}

.skills-informatic-list .skills-p{
    line-height: 1;
}

.skills-informatic-list{
    line-height: 0.4;
}

/* Langues */
.languages{
    text-align: center;
    padding-bottom: .5rem;
}
.languages-content p span{
    text-decoration: underline;
    text-decoration-color: rgb(42, 42, 102);
}
.languages-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
}
.languages p{
    line-height: 0.3;
}

/* FORMATIONS */ 
.right-cv{
    background-color: #FFFFF7;
}

.formations{
    padding-bottom: .5rem;
}
.formations-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
    padding-top: 2rem;
}

.formations-afpa{
    text-align: center;
    line-height: 0;
}

.formations-fac, .formations-afpa{
    padding-bottom: 0.1rem;
}

.formations-fac-sttl, .formations-lycee-sttl{
    line-height: 0;
    text-align: center;
}

/* Experience */ 
.experience{
    padding-bottom: .5rem;
}

.experience-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
    padding: .5rem;
}

.experience-sttl{
    line-height: 0.1;
}

/* LOISIRS */

.loisirs{
    padding-bottom: .5rem;
}

.loisirs-ttl{
    text-align: center;
    color: rgb(42, 42, 102);
    padding-top: .5rem;
}
.loisirs-p{
    line-height: 0;
}

/* FOOTER */ 

/* MEDIA */ 
